@import com.bke.common.utils.DateTimeUtils;
@import com.bke.bke.entity.Account;

@args {
  List<Account> accounts
}

@extends(layout.main)
@section("mainContent") {
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Admin /</span> Tài khoản</h4>
    <div class="card">
      <div class="table-responsive text-nowrap">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Họ tên</th>
              <th>Email</th>
              <th>Số điện thoại</th>
              <th>Ngày sinh</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            @for (Account account : accounts) {
              @{ String dateOfBirth = account.DateOfBirth == null ? "" : DateTimeUtils.format(account.DateOfBirth, "dd/MM/yyyy"); }
              <tr>
                <td><img src="/resource/assets/img/avatars/1.png" alt="Avatar" class="rounded-circle"
                    width="26">&emsp;<strong>@(account.FirstName + " " + account.LastName)</strong></td>
                <td>@account.Email</td>
                <td>@account.Phone</td>
                <td>@dateOfBirth</td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Sửa tài
                        khoản</a>
                      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Xóa tài khoản</a>
                    </div>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    @components.pagination()
  </div>
}