@import com.bke.bke.entity.Curricula;
@import com.bke.common.utils.DateTimeUtils;
@import com.bke.lms.common.ProcedureStatus;
@import com.bke.lms.common.ProcedureStatusLabel;

@args {
  List<Curricula> curriculas,
  Map<Integer, String> mapCurriculaAccount,
  Map<Integer, Integer> mapStatus
}

@extends(layout.main)
@section("mainContent") {
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Thủ tục /</span> Đăng kí học phần</h4>
    <div class="card">
      <div class="table-responsive text-nowrap">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Mã môn</th>
              <th>Ngày bắt đầu</th>
              <th>Ngày kết thúc</th>
              <th>Giảng viên</th>
              <th>Trạng thái</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            @for (Curricula curricula : curriculas) {
              @{ String startTime = curricula.StartTime == null ? "" : DateTimeUtils.format(curricula.StartTime, "dd/MM/yyyy"); }
              @{ String endTime = curricula.EndTime == null ? "" : DateTimeUtils.format(curricula.EndTime, "dd/MM/yyyy"); }
              @{ int status  = mapStatus.get(curricula.CurriculaID); }
              <tr>
                <td>@curricula.SubjectID</td>
                <td>@startTime</td>
                <td>@endTime</td>
                <td>@mapCurriculaAccount.get(curricula.CurriculaID)</td>
                <td>@ProcedureStatusLabel.getLabel(status)</td>
                <td>
                  @if (status == ProcedureStatus.OTHERS.value) {
                    <button type="button" class="btn btn-outline-primary register" data-curriculaid="@curricula.CurriculaID">
                      <span class="tf-icons bx bx-plus-circle"></span>&nbsp; Đăng kí
                    </button>
                  } else if (status == ProcedureStatus.PENDING.value) {
                    <button type="button" class="btn btn-outline-danger unregister" data-curriculaid="@curricula.CurriculaID">
                      <span class="tf-icons bx bx-minus-circle"></span>&nbsp; Hủy đăng kí
                    </button>
                  }
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    @components.pagination()
  </div>
  <script src="/resource/assets/js/page/curricula-register.js"></script>
}