@import com.bke.common.utils.DateTimeUtils;
@import com.bke.bke.entity.CurriculaDetail;

@args {
  List<CurriculaDetail> details,
  Map<Integer, String> mapCurricula
}

@extends(layout.main)
@section("mainContent") {
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Admin /</span> Lịch học</h4>
    <button id="addCurriculaBtn" style="margin-bottom: 20px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCenter">
      Thêm chương trình
    </button>
    <div class="card">
      <div class="table-responsive text-nowrap">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Mã chương trình</th>
              <th>Tiết học</th>
              <th>Thời gian bắt đầu</th>
              <th>Ghi chú</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            @for (CurriculaDetail detail : details) {
              @{ String startTime = detail.StartTime == null ? "" : DateTimeUtils.format(detail.StartTime, "HH:mm dd/MM/yyyy"); }
              <tr>
                <td>@detail.CurriculaDetailID</td>
                <td data-curriculaid="@detail.CurriculaID">@mapCurricula.get(detail.CurriculaID)</td>
                <td>@detail.Slot</td>
                <td>@startTime</td>
                <td>@detail.Note</td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item curriculaEditBtn" data-bs-toggle="modal" data-bs-target="#modalCenter"><i class="bx bx-edit-alt me-1"></i> Sửa lịch học</a>
                      <a class="dropdown-item curriculaDeleteBtn" data-curriculadetailid="@detail.CurriculaDetailID"><i class="bx bx-trash me-1"></i> Xóa lịch học</a>
                    </div>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    @components.pagination()
  </div>
  <div class="modal fade" id="modalCenter" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCenterTitle">Thêm lịch học</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col mb-3">
              <label for="CurriculaID" class="form-label">Mã chương trình</label>
              <input type="number" id="CurriculaID" class="form-control" placeholder="Mã chương trình">
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <label for="Slot" class="form-label">Tiết học</label>
              <input type="number" id="Slot" class="form-control" placeholder="Tiết học">
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <label for="StartTime" class="form-label">Thời gian bắt đầu</label>
              <input type="datetime-local" id="StartTime" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <label for="Note" class="form-label">Ghi chú</label>
              <textarea type="text" id="Note" class="form-control" placeholder="Ghi chú"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Đóng</button>
          <button type="button" id="curriculaSubmitBtn" class="btn btn-primary">Thêm lịch học</button>
        </div>
      </div>
    </div>
  </div>
  <script src="/resource/assets/js/page/curricula-detail.js"></script>
}
