@import com.bke.common.utils.DateTimeUtils;
@import com.bke.bke.entity.Account;
@import com.bke.bke.entity.Curricula;

@args {
  List<Account> accounts,
  List<Curricula> curriculas
}

@extends(layout.main)
@section("mainContent") {
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Admin /</span> Chương trình</h4>
    <button id="addCurriculaBtn" style="margin-bottom: 20px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCenter">
      Thêm chương trình
    </button>
    <div class="card">
      <div class="table-responsive text-nowrap">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Mã môn</th>
              <th>Ngày bắt đầu</th>
              <th>Ngày kết thúc</th>
              <th>Số tiết học</th>
              <th>Lịch học</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            @for (Curricula curricula : curriculas) {
              @{ String startTime = curricula.StartTime == null ? "" : DateTimeUtils.format(curricula.StartTime, "dd/MM/yyyy"); }
              @{ String endTime = curricula.EndTime == null ? "" : DateTimeUtils.format(curricula.EndTime, "dd/MM/yyyy"); }
              <tr>
                <td>@curricula.CurriculaID</td>
                <td>@curricula.SubjectID</td>
                <td>@startTime</td>
                <td>@endTime</td>
                <td>@curricula.TotalSlot</td>
                <td>@curricula.SlotSchedule</td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item teacherBtn" data-bs-toggle="modal" data-bs-target="#modalAccount"><i class="bx bx-user-check me-1"></i> Giảng viên</a>
                      <a class="dropdown-item studentBtn" data-bs-toggle="modal" data-bs-target="#modalAccount"><i class="bx bx-user-check me-1"></i> Học viên</a>
                      <a class="dropdown-item curriculaEditBtn" data-bs-toggle="modal" data-bs-target="#modalCenter"><i class="bx bx-edit-alt me-1"></i> Sửa chương trình</a>
                      <a class="dropdown-item curriculaDeleteBtn" data-curriculaid="@curricula.CurriculaID"><i class="bx bx-trash me-1"></i> Xóa chương trình</a>
                    </div>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalAccount" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAccountTitle">Giảng viên</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="modalAccountBody" class="modal-body">
          @for (int i = 0; i < accounts.size(); i += 2) {
            <div class="row g-2">
              <div class="col mb-0">
                <input class="form-check-input" type="checkbox" id="account-@accounts.get(i).AccountID">
                <label class="form-check-label" for="defaultCheck1">@accounts.get(i).AccountID - @(accounts.get(i).FirstName + " " + accounts.get(i).LastName)</label>
              </div>
              @if (i + 1 < accounts.size()) {
                <div class="col mb-0">
                  <input class="form-check-input" type="checkbox" id="account-@accounts.get(i + 1).AccountID">
                  <label class="form-check-label" for="defaultCheck1">@accounts.get(i + 1).AccountID - @(accounts.get(i + 1).FirstName + " " + accounts.get(i + 1).LastName)</label>
                </div>
              }
            </div>
          }
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Đóng</button>
          <button type="button" id="accountSubmitBtn" class="btn btn-primary">Lưu</button>
        </div>
      </div>
    </div>
    @components.pagination()
  </div>
  <div class="modal fade" id="modalCenter" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCenterTitle">Thêm chương trình</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col mb-3">
              <label for="SubjectID" class="form-label">Mã môn</label>
              <input type="text" id="SubjectID" class="form-control" placeholder="Mã môn">
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <label for="StartTime" class="form-label">Ngày bắt đầu</label>
              <input type="date" id="StartTime" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <label for="EndTime" class="form-label">Ngày kết thúc</label>
              <input type="date" id="EndTime" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <label for="TotalSlot" class="form-label">Số tiết học</label>
              <input type="number" id="TotalSlot" class="form-control" placeholder="Số tiết học">
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <label for="SlotSchedule" class="form-label">Lịch học</label>
              <input type="number" id="SlotSchedule" class="form-control" placeholder="Lịch học">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Đóng</button>
          <button type="button" id="curriculaSubmitBtn" class="btn btn-primary">Thêm chương trình</button>
        </div>
      </div>
    </div>
  </div>
  <script src="/resource/assets/js/page/curricula.js"></script>
}
