@import com.bke.bke.entity.Procedures;
@import com.bke.common.utils.DateTimeUtils;
@import org.apache.commons.lang3.tuple.Pair;
@import com.bke.lms.common.ProcedureStatus;
@import com.bke.lms.common.ProcedureStatusLabel;

@args {
  List<Procedures> procedures,
    Map<Integer, Pair<String, String>> mapCurricula,
  Map<Integer, String> mapAccount
}

@extends(layout.main)
@section("mainContent") {
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Quản lý /</span> Đăng kí học phần</h4>
    <div class="card">
      <div class="table-responsive text-nowrap">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Mã môn</th>
              <th>Thời gian</th>
              <th>Học viên</th>
              <th>Trạng thái</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            @for (Procedures procedure : procedures) {
              <tr>
                <td>@mapCurricula.get(procedure.TargetID).getLeft()</td>
                <td>@mapCurricula.get(procedure.TargetID).getRight()</td>
                <td>@mapAccount.get(procedure.AccountID)</td>
                <td>@ProcedureStatusLabel.getLabel(procedure.Status)</td>
                <td>
                  @if (procedure.Status != ProcedureStatus.APPROVED.value) {
                    <button type="button" class="btn btn-outline-primary approve" data-targetid="@procedure.TargetID">
                      <span class="tf-icons bx bx-plus-circle"></span>&nbsp; Duyệt
                    </button>
                  }
                  @if (procedure.Status != ProcedureStatus.REJECTED.value) {
                    <button type="button" class="btn btn-outline-danger reject" data-targetid="@procedure.TargetID">
                      <span class="tf-icons bx bx-minus-circle"></span>&nbsp; Ẩn
                    </button>
                  }
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    @components.pagination()
  </div>
  <script src="/resource/assets/js/page/curricula-register-admin.js"></script>
}