@import com.bke.bke.entity.Group;

@args {
  List<Group> groups
}

@extends(layout.main)
@section("mainContent") {
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Admin /</span> Nhóm</h4>
    <button id="addGroupBtn" style="margin-bottom: 20px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCenter">
      Thêm nhóm
    </button>
    <div class="card">
      <div class="table-responsive text-nowrap">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Tên</th>
              <th>Mô tả</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            @for (Group group : groups) {
              <tr>
                <td>@group.GroupID</td>
                <td>@group.Name</td>
                <td>@group.Description</td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item groupEditBtn" data-bs-toggle="modal" data-bs-target="#modalCenter"><i class="bx bx-edit-alt me-1"></i> Sửa nhóm</a>
                      <a class="dropdown-item groupDeleteBtn" data-groupid="@group.GroupID"><i class="bx bx-trash me-1"></i> Xóa nhóm</a>
                    </div>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    @components.pagination()
  </div>
  <div class="modal fade" id="modalCenter" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCenterTitle">Thêm nhóm</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col mb-3">
              <label for="Name" class="form-label">Tên</label>
              <input type="text" id="Name" class="form-control" placeholder="Tên">
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <label for="Description" class="form-label">Mô tả</label>
              <textarea type="text" id="Description" class="form-control" placeholder="Mô tả"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Đóng</button>
          <button type="button" id="groupSubmitBtn" class="btn btn-primary">Thêm nhóm</button>
        </div>
      </div>
    </div>
  </div>
  <script src="/resource/assets/js/page/group.js"></script>
}
