@extends(layout.main)
@section("mainContent") {
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row text-center">
      <h3>Theo dõi BKE trên các mạng xã hội</h3>
      <p>Cập nhật những <strong>tin tức - bài học</strong> mới nhất, <strong>lan tỏa giá trị</strong></p>
      <p>sống tử tế, <strong>kết nối</strong> cộng đồng 3 GỐC</p>
    </div>
    <div class="row">
      <div class="col-md-3 col-12 mb-4">
        <a href="https://www.youtube.com/channel/UC4teNNTOky4HAEh4S0q4Ahg" target="_blank">
          <div class="card">
            <h5 class="card-header">Xem trên</h5>
            <div class="card-body">
              <img src="/resource/assets/img/icons/brands/youtube.png" alt="google" class="me-3" height="30">
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-12 mb-4">
        <a href="https://www.facebook.com/thaytranvietquan" target="_blank">
          <div class="card">
            <h5 class="card-header">Kết nối trên</h5>
            <div class="card-body">
              <img src="/resource/assets/img/icons/brands/facebook.png" alt="google" class="me-3" height="30">
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-12 mb-4">
        <a href="https://www.tiktok.com/@@quantv_gnh" target="_blank">
          <div class="card">
            <h5 class="card-header">Xem trên</h5>
            <div class="card-body">
              <img src="/resource/assets/img/icons/brands/tiktok.png" alt="google" class="me-3" height="30">
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-12 mb-4">
        <a href="https://zalo.me/3433154053911009346" target="_blank">
          <div class="card">
            <h5 class="card-header">Kết nối trên</h5>
            <div class="card-body">
              <img src="/resource/assets/img/icons/brands/zalo.png" alt="google" class="me-3" height="30">
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-12 mb-4">
        <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkcy5idXp6c3Byb3V0LmNvbS84ODIxMjQucnNz" target="_blank">
          <div class="card">
            <h5 class="card-header">Nghe trên</h5>
            <div class="card-body">
              <img src="/resource/assets/img/icons/brands/google-podcasts.png" alt="google" class="me-3" height="30">
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-12 mb-4">
        <a href="https://open.spotify.com/show/3uo31vmq6AJYZfEZ0KbehV" target="_blank">
          <div class="card">
            <h5 class="card-header">Nghe trên</h5>
            <div class="card-body">
              <img src="/resource/assets/img/icons/brands/spotify.png" alt="google" class="me-3" height="30">
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-12 mb-4">
        <a href="https://podcasts.apple.com/us/podcast/tr%E1%BA%A7n-vi%E1%BB%87t-qu%C3%A2n/id1499596430" target="_blank">
          <div class="card">
            <h5 class="card-header">Nghe trên</h5>
            <div class="card-body">
              <img src="/resource/assets/img/icons/brands/apple-podcasts.png" alt="google" class="me-3" height="30">
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-12 mb-4">
        <a href="https://www.instagram.com/quantv_gnh/" target="_blank">
          <div class="card">
            <h5 class="card-header">Kết nối trên</h5>
            <div class="card-body">
              <img src="/resource/assets/img/icons/brands/instagram.png" alt="google" class="me-3" height="30">
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
}