@import com.bke.bke.entity.Account;

@args {
  Account account
}

@extends(layout.main)
@section("mainContent") {
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">Tài khoản</h4>

    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <h5 class="card-header">Thông tin cá nhân</h5>
          <div class="card-body">
            <div class="d-flex align-items-start align-items-sm-center gap-4">
              @{
                String avatarUrl = "#";
  
                if (account.AccountID.equals("sang")) {
                  avatarUrl = "/resource/assets/img/avatars/1.png";
                }
  
                if (account.AccountID.equals("minh")) {
                  avatarUrl = "/resource/assets/img/avatars/2.png";
                }
  
                if (account.AccountID.equals("dien")) {
                  avatarUrl = "/resource/assets/img/avatars/3.png";
                }
              }
              <img src="@avatarUrl" alt="user-avatar" class="d-block rounded" height="100"
                width="100" id="uploadedAvatar">
              <div class="button-wrapper">
                <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                  <span class="d-none d-sm-block">Tải lên</span>
                  <i class="bx bx-upload d-block d-sm-none"></i>
                  <input type="file" id="upload" class="account-file-input" hidden="" accept="image/png, image/jpeg">
                </label>
                <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                  <i class="bx bx-reset d-block d-sm-none"></i>
                  <span class="d-none d-sm-block">Đặt lại</span>
                </button>

                <p class="text-muted mb-0">Vui lòng chọn các định dạng JPG, GIF hoặc PNG</p>
              </div>
            </div>
          </div>
          <hr class="my-0">
          <div class="card-body">
            <form id="formAccountSettings" method="POST" onsubmit="return false">
              <div class="row">
                <div class="mb-3 col-md-6">
                  <label for="firstName" class="form-label">Họ</label>
                  <div class="input-group input-group-merge">
                    <span id="basic-icon-default-firstName" class="input-group-text"><i class="bx bx-user"></i></span>
                    <input type="text" class="form-control" id="basic-icon-default-firstName"
                      aria-describedby="basic-icon-default-firstName" name="firstName" value="@account.FirstName">
                  </div>
                </div>
                <div class="mb-3 col-md-6">
                  <label for="lastName" class="form-label">Tên</label>
                  <div class="input-group input-group-merge">
                    <span id="basic-icon-default-lastName" class="input-group-text"><i class="bx bx-user"></i></span>
                    <input type="text" class="form-control" id="basic-icon-default-lastName"
                      aria-describedby="basic-icon-default-lastName" name="lastName" value="@account.LastName">
                  </div>
                </div>
                <div class="mb-3 col-md-6">
                  <label for="email" class="form-label">Email</label>
                  <div class="input-group input-group-merge">
                    <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                    <input type="text" id="basic-icon-default-email" class="form-control"
                      aria-describedby="basic-icon-default-email2" name="email" value="@account.Email">
                  </div>
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label" for="phoneNumber">Điện thoại</label>
                  <div class="input-group input-group-merge">
                    <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bx-phone"></i></span>
                    <input type="text" id="basic-icon-default-phone" class="form-control phone-mask"
                      aria-describedby="basic-icon-default-phone2" name="phoneNumber" value="@account.Phone">
                  </div>
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label" for="country">Quốc gia</label>
                  <div class="input-group input-group-merge">
                    <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                    <select id="country" class="select2 form-select">
                      <option value="vietnam">Việt Nam</option>
                      <option value="laos">Lào</option>
                      <option value="cambodia">Campuchia</option>
                      <option value="others">Khác</option>
                    </select>
                  </div>
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label" for="province">Tỉnh thành</label>
                  <div class="input-group input-group-merge">
                    <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-archive"></i></span>
                    <select id="province" class="select2 form-select">
                      <option value="hanoi">Hà Nội</option>
                      <option value="hochiminh">TP. Hồ Chí Minh</option>
                      <option value="others">Khác</option>
                    </select>
                  </div>
                </div>
                <div class="mb-3 col-md-6">
                  <label for="address" class="form-label">Địa chỉ</label>
                  <div class="input-group input-group-merge">
                    <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-album"></i></span>
                    <input type="text" id="basic-icon-default-company" class="form-control"
                      aria-describedby="basic-icon-default-company2" name="address">
                  </div>
                </div>
                <div class="mb-3 col-md-6">
                  <label for="dateofbirth" class="form-label" id="dateofbirth" name="dateofbirth">Ngày sinh</label>
                  <div class="input-group input-group-merge">
                    <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-box"></i></span>
                    <input class="form-control" type="date" id="html5-date-input">
                  </div>
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label" for="gender">Giới tính</label>
                  <div class="input-group input-group-merge">
                    <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bx-male"></i></span>
                    <select id="gender" class="select2 form-select"  value="@(account.Gender ? 1 : 0)">
                      <option value="0">Nam</option>
                      <option value="1">Nữ</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="mt-2">
                <button type="submit" class="btn btn-primary me-2">Lưu thông tin</button>
                <button type="reset" class="btn btn-outline-secondary">Hủy</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
}
