@import com.bke.common.utils.DateTimeUtils;
@import com.bke.bke.entity.Subject;

@args {
  List<Subject> subjects
}

@extends(layout.main)
@section("mainContent") {
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Quản lý /</span> Môn học</h4>
    <button id="addSubjectBtn" style="margin-bottom: 20px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCenter">
      Thêm môn học
    </button>
    <div class="card">
      <div class="table-responsive text-nowrap">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Mã môn</th>
              <th>Tên</th>
              <th>Mô tả</th>
              <th>Nhóm</th>
              <th>Điều kiện</th>
              <th>Sử dụng</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            @for (Subject subject : subjects) {
              <tr>
                <td>@subject.SubjectID</td>
                <td>@subject.Name</td>
                <td>@subject.Description</td>
                <td>@subject.ParentID</td>
                <td>@subject.PreRequisites</td>
                <td>@subject.Enabled</td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item subjectEditBtn" data-bs-toggle="modal" data-bs-target="#modalCenter"><i class="bx bx-edit-alt me-1"></i> Sửa môn học</a>
                      <a class="dropdown-item subjectDeleteBtn" data-subjectid="@subject.SubjectID"><i class="bx bx-trash me-1"></i> Xóa môn học</a>
                    </div>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    @components.pagination()
  </div>
  <div class="modal fade" id="modalCenter" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCenterTitle">Thêm môn học</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col mb-3">
              <label for="SubjectID" class="form-label">Mã môn</label>
              <input type="text" id="SubjectID" class="form-control" placeholder="Mã môn">
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <label for="Name" class="form-label">Tên</label>
              <input type="text" id="Name" class="form-control" placeholder="Tên">
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <label for="Description" class="form-label">Mô tả</label>
              <textarea type="text" id="Description" class="form-control" placeholder="Mô tả"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <label for="ParentID" class="form-label">Nhóm</label>
              <input type="text" id="ParentID" class="form-control" placeholder="Nhóm">
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <label for="PreRequisites" class="form-label">Điều kiện</label>
              <input type="text" id="PreRequisites" class="form-control" placeholder="Điều kiện">
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" id="Enabled">
                <label class="form-check-label" for="defaultCheck1">Sử dụng</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Đóng</button>
          <button type="button" id="subjectSubmitBtn" class="btn btn-primary">Thêm môn học</button>
        </div>
      </div>
    </div>
  </div>
  <script src="/resource/assets/js/page/subject.js"></script>
}