@import com.google.gson.internal.LinkedTreeMap;

@args {
  String time,
  List<String> columns,
  LinkedTreeMap<String, List<String>> items
}

@extends(layout.main)
@section("mainContent") {
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Quản lý /</span> Thời khóa biểu</h4>
    <input class="form-control" type="week" value="@time" id="html5-week-input" style="width: 210px; margin-bottom: 20px;">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive text-nowrap">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th></th>
                @for (String column : columns) {
                  <th>@column</th>
                }
              </tr>
            </thead>
            <tbody>
              @for (String hour : items.keySet()) {
                <tr>
                  <td>@hour</td>
                  @for (String value : items.get(hour)) {
                    <td>@value.raw()</td>
                  }
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script src="/resource/assets/js/page/time-table.js"></script>
}