@import com.bke.lms.common.Pagination;

@args {
  Pagination pagination,
}

@if (pagination != null && pagination.totalPage > 0) {
  <nav aria-label="Page navigation">
    <ul class="pagination">
      @if (pagination.hasPrevFirst) {
        <li class="page-item first">
          <a class="page-link" data-page="1"><i class="tf-icon bx bx-chevrons-left"></i></a>
        </li>
      }
      @if (pagination.hasPrev) {
        <li class="page-item prev">
          <a class="page-link" data-page="@(pagination.currentPage - 1)"><i class="tf-icon bx bx-chevron-left"></i></a>
        </li>
      }
      @for (int page : pagination.pages) {
        <li class="page-item @(pagination.currentPage == page ? "active" : "")">
          <a class="page-link" data-page="@page">@page</a>
        </li>
      }
      @if (pagination.hasNext) {
        <li class="page-item next">
          <a class="page-link" data-page="@(pagination.currentPage + 1)"><i class="tf-icon bx bx-chevron-right"></i></a>
        </li>
      }
      @if (pagination.hasNextLast) {
        <li class="page-item last">
          <a class="page-link" data-page="@pagination.totalPage"><i class="tf-icon bx bx-chevrons-right"></i></a>
        </li>
      }
    </ul>
  </nav>
  <script src="/resource/assets/js/page/pagination.js"></script>
}
