<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="/" class="app-brand-link">
      <span class="app-brand-logo demo">
        <img src="/resource/assets/img/elements/21.jpg" alt="Viện đào tạo Bách Khoa" width="196" />
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Admin -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Admin</span>
    </li>
    <li class="menu-item">
    <li class="menu-item">
      <a href="group" class="menu-link">
        <i class="menu-icon tf-icons bx bx-crown"></i>
        <div data-i18n="Basic">Nhóm</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="account" class="menu-link">
        <i class="menu-icon tf-icons bx bx-crown"></i>
        <div data-i18n="Basic">Tài khoản</div>
      </a>
    </li>
    </li>
    <!-- Quản lý -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Quản lý</span>
    </li>
    <li class="menu-item">
    <li class="menu-item">
      <a href="/subject" class="menu-link">
        <i class="menu-icon tf-icons bx bx-copy"></i>
        <div data-i18n="Basic">Môn học</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/curricula" class="menu-link">
        <i class="menu-icon tf-icons bx bx-copy"></i>
        <div data-i18n="Basic">Chương trình</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/curricula-detail" class="menu-link">
        <i class="menu-icon tf-icons bx bx-copy"></i>
        <div data-i18n="Basic">Lịch học</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/curricula-register-admin" class="menu-link">
        <i class="menu-icon tf-icons bx bx-copy"></i>
        <div data-i18n="Basic">Đăng kí học phần</div>
      </a>
    </li>
    </li>
    <!-- Thủ tục / Đơn từ -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Thủ tục / Đơn từ</span>
    </li>
    <li class="menu-item">
    <li class="menu-item">
      <a href="/curricula-register" class="menu-link">
        <i class="menu-icon tf-icons bx bx-detail"></i>
        <div data-i18n="Basic">Đăng kí học phần</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="error" class="menu-link">
        <i class="menu-icon tf-icons bx bx-detail"></i>
        <div data-i18n="Basic">Đơn xin bảo lưu</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="error" class="menu-link">
        <i class="menu-icon tf-icons bx bx-detail"></i>
        <div data-i18n="Basic">Đơn xin chuyển lớp</div>
      </a>
    </li>
    </li>
    <!-- Tra cứu thông tin -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Tra cứu thông tin</span>
    </li>
    <li class="menu-item">
      <a href="/time-table" class="menu-link">
        <i class="menu-icon tf-icons bx bx-file"></i>
        <div data-i18n="Basic">Lịch học</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="error" class="menu-link">
        <i class="menu-icon tf-icons bx bx-file"></i>
        <div data-i18n="Basic">Biểu học phí</div>
      </a>
    </li>
    <!-- Báo cáo -->
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Báo cáo</span></li>
    <li class="menu-item">
      <a href="error" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Basic">Báo cáo điểm danh</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="error" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Basic">Báo cáo điểm</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="error" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Basic">Tra cứu học phí đã nộp</div>
      </a>
    </li>
    <!-- Khác -->
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Khác</span></li>
    <li class="menu-item">
      <a href="error" class="menu-link">
        <i class="menu-icon tf-icons bx bx-support"></i>
        <div data-i18n="Basic">Gửi ý kiến</div>
      </a>
    </li>
  </ul>
</aside>
